body, html {
    height: 110%;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url("../fonts/AvenirLTStd-Book.otf"); /* File to be stored at your site */
  }
@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url("../fonts/AvenirLTStd-Light.otf"); /* File to be stored at your site */
  }
@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url("../fonts/AvenirLTStd-Medium.otf"); /* File to be stored at your site */
  }
@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url("../fonts/AvenirLTStd-Roman.otf"); /* File to be stored at your site */
  }

body { 
    /* The image used */
    min-height: 110%;
    background: linear-gradient(
                     rgba(0,0,0,0.85), 
                     rgba(0,0,0,0.85)),
                     url("../photos/Mondavi.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    opacity: 0.8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    font-family: Avenir;
    font-weight: 300;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: gray;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: relative;
    right: 25px;
    font-size: 36px;
    margin-left: 20px;
}

.picture-side {
    margin-top: 8%;
    width: 140%;
}

.picture-side-right {
    margin-top: 8%;
    width: 140%;
    margin-left: -40%;
}

.text {
    padding-left: 8%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.center-text {
    margin-left:20%;
    margin-right:20%;
    text-align: left;
}

.center {
    text-align: center;
}

.body-text {
    margin-top: 5px;
}

.picture {
    width: 100%;
    margin-top: 10px;
}

.left-side {
    margin-left: 30%;
}

.right-side {
    margin-right: 30%;
}

.inline {
    display: inline;
}

.body-text {
    text-align: left;
    margin-left:20%;
}

.navbarlogo {
    height: 100px;
    margin-top: -20%;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.navbarlogo-detect {
    height: 100px;
    margin-left:2.3%;
    margin-top:1.8% ;
}

.left-side {
    margin-left: 40%;
}

.right-side {
    margin-right:40%;
}

.page-title {
    margin-left: 16%;
    margin-top: -6.6%;
    text-align: left;
}

.general-text {
    font-family: 'AvenirLTStd-Light';
    font-weight: 300;
    color: white;
    display: flex;
}

.general-text-body {
    font-family: 'AvenirLTStd-Light';
    color: white;
    display: flex;
    font-size: 16px; 
    text-align: justify;
    line-height: 25px;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 90px;
    margin-right:9%;
    margin-top:1em;
}

h2 {
    font-size: 1.35vw;
    margin-right:10.5%;
}

h4 {
    font-size: 10px;
}

.second-line {
    margin-top: -10px;
}