body, html {
    height: 110%;
}

body { 
    /* The image used */
    min-height: 110%;
    background: linear-gradient(
                     rgba(0,0,0,0.8), 
                     rgba(0,0,0,0.8)),
                     url("");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    opacity: 0.8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    font-family: Avenir;
    font-weight: 300;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: gray;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: relative;
    right: 25px;
    font-size: 36px;
    margin-left: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.center-text {
    margin-left:20%;
    margin-right:20%;
    text-align: left;
}

.body-text {
    margin-top: 20px;
}

.picture {
    width: 100%;
    margin-top: 10px;
    opacity: 0.9;
}

.picture-captains {
    width: 100%;
    margin-top: 10px;
    opacity: 0.9;
}

.picture-team {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 0.9;
}

.inline {
    display: inline;
}

.body-text {
    text-align: left;
    margin-left:20%;
}

.navbarlogo {
    height: 100px;
    margin-top: -20%;
}

.navbarlogo-detect {
    height: 100px;
    margin-left:2.3%;
    margin-top:1.8% ;
}

.black-box {
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.center {
    text-align: center;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.award-text {
    margin-top: 10px;
}

.page-title {
    margin-left: 16%;
    margin-top: -6.6%;
    text-align: left;
}

.general-text {
    font-family: Avenir;
    font-weight: 300;
    color: white;
}

.first-line {
    margin-top: 10 !important;
}

.names {
    margin-bottom: -5px;
    margin-top: 10px;
}

h1 {
    font-size: 90px;
    margin-right:9%;
    margin-top:1em;
}

h2 {
    font-size: 20px;
    margin-top: -10px;
}

h4 {
    font-size: 10px;
}

.second-line {
    margin-top: -5px;
}