body, html {
    height: 110%;
}

body { 
    /* The image used */
    min-height: 110%;
    background: linear-gradient(
                     rgba(0,0,0,0.3), 
                     rgba(0,0,0,0.3)),
                     url("../photos/MainJhoomtiPic.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 1.5em 1.5em;
    overflow: hidden;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 300;
}
li {
    float: center;
    display: inline;
}

li a {
    color: white;
    text-align: center;
    padding: 5% 3%;
}

li a:hover {
    color: gray;
    text-decoration: none;
}

.logo {
    width: 275px;
    margin-left: 50%;
    margin-top: 5%;
}

.title {
    margin-top: -10%;
}

.homepage-title {
	font-family: Avenir;
	font-weight: 300;
	color: white;
	text-align: right;
}

h1 {
	font-size: 100px;
	margin-right:5%;
	margin-top:1em;
}

h2 {
	font-size: 20px;
	margin-right:5.5%;
	margin-top: -10px;
}