body, html {
    height: 110%;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url("../fonts/AvenirLTStd-Book.otf"); /* File to be stored at your site */
  }
@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url("../fonts/AvenirLTStd-Light.otf"); /* File to be stored at your site */
  }
@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url("../fonts/AvenirLTStd-Medium.otf"); /* File to be stored at your site */
  }
@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url("../fonts/AvenirLTStd-Roman.otf"); /* File to be stored at your site */
  }

body { 
    /* The image used */
    min-height: 110%;
    background: linear-gradient(
                     rgba(0,0,0,0.3), 
                     rgba(0,0,0,0.3)),
                     url("../photos/MainJhoomtiPic.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 1.5em 1.5em;
    overflow: hidden;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    font-family: 'AvenirLTStd-Light';
    font-size: 18px;
    font-weight: 300;
}
li {
    float: center;
    display: inline;
}

li a {
    color: white;
    text-align: center;
    padding: 5% 3%;
}

li a:hover {
    color: gray;
    text-decoration: none;
}

.logo {
    width: 22vw;
}

.title {
    margin-top: 2%;
    margin-left: 48%;
    display: inline;
}

.homepage-title {
	font-family: 'AvenirLTStd-Light';
	font-weight: 300;
	color: white;
	text-align: right;
}

h1 {
	font-size: 7vw;
}

h2 {
	font-size: 1.3vw;
	margin-top: -20px;
    margin-right: 30px;
}

@media only screen
and (max-device-width : 800px) {
    .logo {
        width: 40vw;
        margin-top: 60%;
        margin-left: -480px;
    }
    .title {
        margin-top: 5%;
        margin-left: 50%;
        display: inline;
    }
    h1 {
        font-size: 1200%;
        margin-left: -250px;
    }
    h2 {
        font-size: 25px;
        margin-top: -18px;
        margin-left: -240px;
    }
    li a {
        padding: 3% 1%;
    }
    body {
        background: linear-gradient(
                     rgba(0,0,0,0.3), 
                     rgba(0,0,0,0.3)),
                     url("../photos/Mobile_Main.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}